@import "layout/var";

.advantages {
  padding: 100px 0 0;

  @media (max-width: $md) {
    padding-top: 60px;
  }

  @media (max-width: $xs) {
    padding-top: 30px;
  }

  &__head-wrap {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 68px;

    @media (max-width: $md) {
      padding-bottom: 30px;
    }

    @media (max-width: $xs) {
      padding-bottom: 0;
    }
  }

  &__head {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__full {
    background: #374353;
    box-shadow: 0px 40px 40px rgba(0, 0, 0, 0.15);
    margin-top: 32px;
  }

  &__flex {
    display: flex;
    justify-content: space-between;

    @media (max-width: $xs) {
      flex-direction: column;
    }

    &--white {
      color: white;

      .advantages__item {
        margin: 0;
        padding: 24px 0;

        @media (max-width: $xs) {
          &:nth-child(2) {
            padding: 0;
          }
        }
      }

      .advantages__name {
        color: white;

        &:after {
          background: white;
        }
      }
    }
  }

  &__item {
    width: 32.4%;
    flex-shrink: 0;
    margin-top: 32px;

    @media (max-width: $lg) {
      width: 30%;
    }

    @media (max-width: $xs) {
      width: 100%;
      margin-top: 25px;
    }
  }

  &__name {
    font-family: $font900;
    font-size: 24px;
    line-height: 29px;
    color: #161D26;
    padding-bottom: 29px;
    position: relative;

    @media (max-width: $md) {
      font-size: 19px;
    }

    @media (max-width: $xs) {
      font-size: 16px;
      line-height: 19px;
      padding-bottom: 17px;

      br {
        display: none;
      }
    }

    &:after {
      content: '';
      display: block;
      width: 177px;
      height: 5px;
      position: absolute;
      left: 0;
      bottom: 0;
      background: $red;

      @media (max-width: $xs) {
        height: 2px;
      }
    }
  }

  &__text {
    line-height: 19px;
    margin-top: 24px;

    @media (max-width: $sm) {
      font-size: 14px;
    }

    @media (max-width: $xs) {
      margin-top: 15px;
    }
  }
}